*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body{
    display: flex;
    background-image: url("https://th.bing.com/th/id/OIP.KDqahR1martkD1ObmKD-IQHaEo?w=281&h=180&c=7&o=5&dpr=1.25&pid=1.7");
    background-size: cover ;

}
.container{
    margin: 90px;
    background-color:white ;



    width: 700px;

    border:solid white;
}
.container button{
    color: white;
    background: blue;
}
.container h6{
    color: black;
}


.form-group input{
    background-color: #ADD8E6;
    
}

.form-group span :hover{
    color: red;
    cursor: pointer;
}
.fa{
    font-size: 20px;
    color: black;
}